
VideoPose3D/
test.ipynb
MGSampler/
combined_dataset/
data-clean/
data-washer/
IOT Classification Challenge/
/data/IotLabData.zip
/data/subsampled_featurized_dataset_backup_ver1.zip
/doc/IOT_Classification_Challenge_kl3259_backup_0520.ipynb
/doc/IOT_Classification_Challenge_kl3259_local.ipynb
doc/horizontal_flip.py
IoT-Activity-Detection-Clean/
*.pth
doc/novel_methods/Transformer/train.py
doc/novel_methods/Transformer/results.ipynb
doc/IOT_Classification_Challenge_kl3259_backup_0520.ipynb
doc/novel_methods/results/base_10.npz
doc/novel_methods/results/large_10.npz
doc/novel_methods/Transformer/__pycache__/utils.cpython-39.pyc
doc/novel_methods/Transformer/train_confidence.py
doc/novel_methods/Transformer/train_mps.py
doc/novel_methods/Transformer/train_with_margin.ipynb
doc/novel_methods/Transformer/utils_confidence.py
doc/novel_methods/Transformer/utils.py
doc/novel_methods/Transformer/Report.md
doc/novel_methods/Transformer/Report.html
doc/novel_methods/Transformer/Report.pdf
doc/novel_methods/Transformer/IOT_train_with_margin.ipynb
doc/novel_methods/results/results_margin_training_margin_attn_entropy.zip
doc/novel_methods/results/simu_result_margin_margin.png
doc/novel_methods/Transformer/backup.md
doc/novel_methods/results/results-margin-and-attn.zip
doc/novel_methods/results/simu_result_attn_attn.png
doc/novel_methods/results/simu_result_attn_entropy.png
doc/novel_methods/results/simu_result_attn_margin.png
doc/novel_methods/results/simu_result_margin_attn.png
doc/novel_methods/results/simu_result_margin_entropy.png
